/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/category_photos/*
/public/package_photos/*
/public/product_photos/*
/public/user_photos/*


/storage/elevate-pesa-firebase-auth.json


/public/car_brand_logos/*
/public/car_photos/*
/public/car_type_photos/*
/public/car_videos/*
/public/garage_photos/*
/public/motor_third_party_photos/*
/public/product_brand_logos/*
/public/product_photos/*
/public/product_type_photos/*
/public/product_videos/*
/public/spare_part_photos/*
/public/spare_part_type_photos/*
/public/user_photos/*
/public/vendor_photos/*
/public/dashboard_slider_photos/*


.vercel


/public/accessory_photos/*
/public/brand_photos/*
/public/product_photos/*
/public/blog_photos/*
/public/category_photos/*


.vercel

.vercel
